@import './breakpoints.module.scss';
@import './variables.module.scss';

.heading1 {
	font-size: 1.5em;
	text-align: center;
	color: $color-accent;
	
	@media (min-width: $tablet) {
		font-size: 2rem;
	}

	@media (min-width: $desktop) {
		font-size: 3rem;
	}
}